{{>header}}
  <span>Bienvenido a la pagina de cursos Los Primates</span>

  <span>Aun no te has inscrito ? Haz click en el boton para inscribirte</span>
  <button><a href="/inscribirme">Inscribirme</a></button>

  <span>Ya estas inscrito? Da click en el boton para ingresar</span>
  <button><a href="/login">Login</a></button>

  <span>Deseo continuar sin registrarme</span>
  <button><a href="/inicio">Ingresar</a></button>
  
{{>footer}}