{{>header}}
  <span>LOGIN</span>

  <form action="/usuario" method="POST">
    <label for="usuario">Usuario</label>
    <input type="text" id="usuario" name="usuario" required>
    <label for="clave">Contraseña</label>
    <input type="number" id="clave" name="clave" required>
    <button>Ingresar</button>
  </form>
  
{{>footer}}